@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap');

@mixin app-font($fw, $fz, $lh) {
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
}

@mixin app-flex($jc: space-between, $ai: center, $ds: flex) {
  display: $ds;
  justify-content: $jc;
  align-items: $ai;
}

$green-color: #75D7A1;
$red-error: #D77575;
$black-main: #1A1A1A;
$grey-main: rgba(217, 217, 217, 0.2);

* {
  font-family: Inter;
  color: $black-main;
}

.container {
  padding: 9.43vw 7.08vw;
}

.container__register {
  @include app-flex();
  flex-direction: column;
  gap: 20px;
}

.input {
  width: 100%;
  padding: 4.95vw 4.72vw;
  font-size: 4.25vw;
  line-height: 5.19vw;
  color: rgba(0, 0, 0, 0.7);
  background: rgba(217, 217, 217, 0.2);
  border-radius: 2.36vw;
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.error {
  color: $red-error;
  @include app-font(400, 3.30vw, 4.01vw);
}

// auth__banner

.auth__banner {
  padding: 22.41vw 7.08vw 9.43vw 7.08vw;
  background: #75D7A1;
  border-radius: 5.90vw;

  h2 {
    @include app-font(700, 8.49vw, 10.38vw);
    color: #fff;
  }

  p {
    margin-top: 2.36vw;
    @include app-font(500, 4.25vw, 5.19vw);
    color: #fff;
  }
}

// auth__form

.auth__form {    
  @include app-flex(flex-start, center);
  flex-direction: column;
  margin-top: 9.43vw;
  gap: 4.72vw;

  h2 {
    display: none;
  }
}

.auth__form-input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.auth__form-password-icon  {
  width: 5.19vw;
  height: 3.54vw;
  position: absolute;
  top: 50%;
  right: 4.72vw;
  background-image: url(../assets/password.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  transform: translateY(-50%);
}

.auth__form-password-icon_active {
  width: 5.19vw;
  height: 18.5px;
  background-image: url(../assets/password-v.svg);
  background-size: contain;
}

.auth__form-input_password {
  position: relative;
}

.auth__page-toggle {
  @include app-font(400, 3.77vw, 4.48vw);

  span {
    color: #75D7A1;
  }
}

  //* Loading-app 

  .app-loading {
    @include app-flex(center, center);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $green-color;

    h2 {
      @include app-font(700, 9.91vw, 12.03vw);
      color: #fff;
    }
  }

@media (min-width: 424px) {
  .container {
    padding: 40px 30px;
  }
  
  .input {
    padding: 21px 20px;
    font-size: 18px;
    line-height: 22px;
    border-radius: 10px;
  }  

  .error {
    margin-top: 10px;
    @include app-font(400, 14px, 17px);
  }
  
  // auth__banner

  .auth__banner {
    padding: 95px 30px 40px 30px;
    border-radius: 25px;
  
    h2 {
      max-width: 307px;
      @include app-font(700, 36px, 44px);
    }
  
    p {
      margin-top: 20px;
      @include app-font(500, 18px, 22px);
    }
  }

  // auth__form

  .auth__form {    
    gap: 20px;
    margin-top: 40px;
  }

  .auth__form-password-icon  {
    width: 22px;
    height: 15px;
    top: 50%;
    right: 20px;
  }

  .auth__form-password-icon_active {
    width: 22px;
    height: 18.5px;
  }

  .auth__page-toggle {
    @include app-font(400, 16px, 19px);
  }

  //* Loading-app 

  .app-loading {
    h2 {
      @include app-font(700, 42px, 51px);
    }
  }

}

@media (min-width: 567px) {
  .input {
    max-width: 368px;
  }

  .auth__form-input-wrapper {
    @include app-flex(center, flex-start);
    flex-direction: column;
  }

  .auth__form {
    max-width: 368px;
    margin-left: auto;
    margin-right: auto;
  }

  .auth__form-input_password {
    width: 100%;
    position: relative;
  }
}

@media (min-width: 967px) {
  .container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 20px;
  }  

  #root {
    height: 100vh;
  }

  .container, .container__wrapper-register {
    height: 100%;
  }

  .container__wrapper-register {
    width: 100%;
    @include app-flex(space-between, center);
    gap: 76px;
  }

  // auth__banner
  
  .auth__banner {
    gap: 20px;
    max-width: 446px;
    padding-top: 100px;
    height: 100%;

    h2 {
      max-width: 366px;
      font-size: 44px;
      line-height: 53px;
    }

    p {
      margin-top: 15px;
      font-size: 19px;
      line-height: 23px;
    }
  }

  .auth__form {
    width: 100%;
    margin: 0;
    margin-right: auto;

    h2 {
      margin-bottom: 5px;
      max-width: 210px;
      display: block;
      align-self: flex-start;
      @include app-font(700, 32px, 39px);
      color: $black-main;
    }
  }
}
